.carousel-title {
    position: relative;
    max-width: 250px;
    background: #e4b248;
    padding: 25px 20px;
    font-size: 18px;
    color: white;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    min-width: 300px;
    text-align: left;
}

.carousel-title:before {
    content: '';
    position: absolute;
    top: 0;
    left: 20px;
    width: 100%;
    height: 100%;
    /* background-color: black; */
    z-index: -1;
    transform: skew(-20deg);
    background: #e4b248;
}